<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>721464346945-sdb5hdigo8bimtmkgnb85t6es6l411b9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.721464346945-sdb5hdigo8bimtmkgnb85t6es6l411b9</string>
	<key>API_KEY</key>
	<string>AIzaSyAZeMtkuKXpbFg6mfBxjXB6msptEdDcDlw</string>
	<key>GCM_SENDER_ID</key>
	<string>721464346945</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.momo</string>
	<key>PROJECT_ID</key>
	<string>momo-b71fd</string>
	<key>STORAGE_BUCKET</key>
	<string>momo-b71fd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:721464346945:ios:a255caeeabf800223079c0</string>
</dict>
</plist>